@import url('https://fonts.googleapis.com/css?family=Aladin|Petit+Formal+Script');

h1 {
    font-size: 350%;
    text-align: center;
}

.header {
    font-size: 250%;
    margin-right: 10%
}

*:focus {
    outline: none;
}

body {
    background-image: url("../css/elegant-red-background_1340-4770.png") ;
    background-size: cover;
    color :goldenrod;
    font-family: Aladin, sans-serif;
    border-style: groove;
    border-color: goldenrod;
    border-width: 30px;
    margin: unset;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

button {
    background-color: darkred;
    border-color: goldenrod;
    border-style: groove;
    border-width: 10px;
    font-size: 220%;
    border-radius: 60%;
    font-family: Aladin,sans-serif;
    color: goldenrod;
    font-weight: bold;
    margin-left: 60%;
    float:left;
    padding:7%;
    margin-top: -12%;
}

.image {
    border-color: goldenrod;
    border-style: groove;
    margin-left: 38%;
    border-width: 10px;
}

label {
    position: absolute;
    font-size: 150%;
    display:block;
    float: left;
    margin-left: 21%;
    margin-top: -3%;
}
textarea {
    border-radius: 40%;
    padding: 10px 10px;
    border-color: goldenrod;
    border-style: groove;
    border-width: 10px;
    text-align: center;
    position: relative;
    font-size: 200%;
    font-family: Aladin, sans-serif;
    color: goldenrod;
    background-color: darkred;
    float:left;
    margin-left:5%;
    margin-top:-1%;
}

.card {
    border:none;
    cursor:pointer;
    height: 13% ;
    width: 13%;
    margin:1% 1%;
    position: center;
}

.cardFront {
    border:none;
    height:12%;
    width:12%;
    margin:1% 1%;
    position: center;
}

.allcards {
 margin-left: 7%;
}

.img {
    border-style: groove;
    border-width: 10px;
    border-color: goldenrod;
    height: 16%;
    width: 16%;
    margin-top: 15%;
    margin-left:3%;
}

.h1 {
    font-size: 250%;
}

.homebutton {
    background-color: darkred;
    border-color: goldenrod;
    border-style: groove;
    border-width: 5px;
    font-size: 120%;
    border-radius: 10%;
    font-family: Aladin,sans-serif;
    color: goldenrod;
    font-weight: bold;
    margin-left: 1%;
    float:left;
    padding:1%;
    margin-top: 1%;
}