@import url('https://fonts.googleapis.com/css?family=Aladin|Petit+Formal+Script');

h1 {
    font-size: 350%;
    text-align: center;
}

body {
    background-image: url("../css/elegant-red-background_1340-4770.png") ;
    background-size: 1500px;
    color :gold;
    font-family: Aladin, sans-serif;
}

button {
    background-color: red;
    border-color: gold;
    border-style: solid;
    font-size: 200%;
    border-radius: 20%;
    padding: 30px;
    font-family: Aladin,sans-serif;
    margin:20px 30px;
    color: darkgoldenrod;
    font-weight: bold;
}

form {
    margin:30% 10%;
}

button {
    float:right;
}

textarea {
    border-radius: 4%;
    padding: 10px 10px;

}