@import url('https://fonts.googleapis.com/css?family=Aladin|Petit+Formal+Script');

h1 {
    font-size: 350%;
    text-align: center;
}

body {
    background-image: url("../css/elegant-red-background_1340-4770.png") ;
    background-size: 1500px;
    color :goldenrod;
    font-family: Aladin, sans-serif;
    border-style: groove;
    border-color: goldenrod;
    border-width: 30px;
}

button {
    background-color: red;
    border-color: goldenrod;
    border-style: groove;
    border-width: 10px;
    font-size: 250%;
    border-radius: 60%;
    padding: 40px;
    font-family: Aladin,sans-serif;
    margin:20px 20px;
    color: goldenrod;
    font-weight: bold;
}

img {
    size: A3;
    position: relative;
    margin-left: 500px;
    border-style: groove;
    border-width: 20px;
    border-color: goldenrod;

}
form {
    margin:10% 10%;
}

label {
    text-align: center;
    position: relative;
    font-size: 150%;
    display:block;
    float: left;
}
textarea {
    border-radius: 4%;
    padding: 10px 10px;
    border-color: goldenrod;
    border-style: groove;
    border-width: 10px;
    text-align: center;
    position: relative;
    float: left;
    font-size: 150%;
    font-family: Aladin,sans-serif;
}