<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fortune-teller</title>
    <script src="{{ url_for('static', filename='js/game.js')}}" defer></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
</head>
<body>
<h1>Fortune-Teller</h1>
<form action="/name"  method="post">
    <label id="textlabel">Your Name</label>
    <textarea id="textarea" placeholder="Name" cols="50" rows="2"></textarea>
    <button id="button" type="submit" >Tell  my future now!</button>
</body>
</html>
