<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fortune-teller</title>
    <script src="{{ url_for('static', filename='js/game.js')}}" defer></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
</head>

<body>
<h1>Fortune-Teller</h1>
<form  action="/"  method="post">
    <label for="textarea">Your Name</label>
    <input id="area" name="name" size="40" placeholder="Name" >
    <button id="btn" type="submit" >Tell  my future now!</button>
</form>
<img class="image" src="../static/css/Josno.jpg" height="300" width="300" alt="Missing image!">
</body>

</html>
